<%- include('../partials/html_start.ejs') %>

    <div class="container-fluid product_page mx-5">

        <a class="products" href="/admin/productdetail">Products Detail</a>

    </div>

    <%- include('../partials/html_end.ejs') %>