<%- include('../partials/html_start.ejs') %>

    <div class="container-fluid product_page mx-5">

        <h1>Show Products Page</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">productCode</th>
                    <th scope="col">productName</th>
                    <th scope="col">productValue</th>
                    <th scope="col">supplierName</th>
                    <th scope="col">productColor</th>
                    <th scope="col">productSizeUnit</th>
                    <th scope="col">productSizeWidth</th>
                    <th scope="col">productSizeHeight</th>
                </tr>
            </thead>
            <tbody>
                @foreach(some feking condition here)
                <tr>
                    <th scope="row" id="productCode"></th>
                    <td id="productName"></td>
                    <td id="productValue"></td>
                    <td id="supplierName"></td>
                    <td id="productColor"></td>
                    <td id="productSizeUnit"></td>
                    <td id="productSizeWidth"></td>
                    <td id="productSizeHeight"></td>
                </tr>
                @endforeach
            </tbody>
        </table>
        <br>

    </div>

    <script>
        //.val out of this shit
        //how do variables work with html
        //what is the meaning of life

        //put this where youre calling the data dipshit
        $.ajax(
            {
                url: "/admin/showproductsget",
                type: "GET",
                data: {
                    productCode: productCode,
                    productName: productName,
                    productValue: productValue,
                    supplierName: supplierName,
                    productColor: productColor,
                    productSizeUnit: productSizeUnit,
                    productSizeWidth: productSizeWidth,
                    productSizeHeight: productSizeHeight
                },//maybe retrieve from the success function
                success: function (obj) {
                    console.log(obj.msg)
                }
            })

    </script>

    <%- include('../partials/html_end.ejs') %>