<%- include('./partials/html_start.ejs') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <a class="url login" href="/auth/admin/login">Admin Login</a>
  <br>
  <a class="url login" href="/auth/retail/login">Retail Login</a>
  <br>
  <a class="url login" href="/auth/trade/login">Trade Login</a>

  <br>
  <a class="url signup" href="/auth/retail/signup">Sign up Retail User</a>
  <br>
  <a class="url signup" href="/auth/trade/signup">Sign up Trade User</a>
  <br>
  <a class="url products" href="/admin/products">Products Detail</a>

  <%- include('./partials/html_end.ejs') %>