<%- include('./partials/html_start.ejs') %>
    <h1>
        <%= type %> Login
    </h1>
    <form action="" class="createRoom">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <button type="submit" class="login">Login</button>
    </form>

    <script>
    $('.login').click(function () {
        event.preventDefault();
        var email = $('#email').val()
        var password = $('#password').val()
        console.log('email: ', email);
        console.log('password: ', password);
        let type = '<%= type %>';
        let url
        console.log('type: ', type);
        if (type == 'Admin') {
            url = '/auth/admin/login'
        }
        else if (type == 'User'){
            url = '/auth/user/login'
        }
        console.log('url: ', url);
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            data: {
                email: email,
                password: password
            },
            success: function (data) {
                console.log('data: ', data);
                if (data.status === "success") {
                    window.location.replace(data.redirect);
                }else{
                    alert("User Not found")
                }
                
            }
            
        })
        
    })
</script>

<%- include('./partials/html_end.ejs') %>
