<%- include('./partials/html_start.ejs') %>
    <h1>
        <%= type %> Login
    </h1>

    <input type="text" name="" id="email">
    <input type="text" id="password">
    <button class="login">Login</button>
    
    <script>
    $('.login').click(function () {
        event.preventDefault();
        var email = $('#email').val()
        var password = $('#password').val()
        console.log('email: ', email);
        console.log('password: ', password);
        let type = '<%= type %>';
        let url
        console.log('type: ', type);
        if (type == 'Admin') {
            url = '/auth/admin/login'
        }
        else if (type == 'Retail') {
            url = '/auth/retail/login'
        }
        else {
            url = '/auth/trade/login'
        }
        console.log('url: ', url);
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            data: {
                email: email,
                password: password
            },
            success: function (data) {
                console.log('data: ', data);
                if (data.status === "success") {
                    window.location.replace(data.redirect);
                }else{
                    alert("User Not found")
                }
                
            }
            
        })
        
    })
</script>

<%- include('./partials/html_end.ejs') %>
