<%- include('./partials/html_start.ejs') %>

  <div class="container-fluid product_page mx-5">

    <h1>Products Detail</h1>
    <a href="/admin/createproductget">Create Product</a>
    <br>
    <a href="/admin/showproductsget">Show All Products</a>
    <br>
    <a href="">Edit Product</a>

  </div>

  <%- include('./partials/html_end.ejs') %>