<%- include('./partials/html_start.ejs') %>

  <!-- <link rel="stylesheet" href="/stylesheets/signupTrade.css"> -->

  <div class="container-fluid product_page mx-5">

    <h1>Products Detail</h1>

  </div>

  <%- include('./partials/html_end.ejs') %>