<%- include('./partials/html_start.ejs') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <a class="signup" href="/auth/admin/">Admin signup</a>
  <br>
  <a class="signup" href="/auth/retail/">Retail signup</a>
  <br>
  <a class="signup" href="/auth/trade/">Trade signup</a>

  <%- include('./partials/html_end.ejs') %>